[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# Custom config
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space

# S1104: Fields should not have public accessibility
dotnet_diagnostic.S1104.severity = none

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = warning

# S3267: Loops should be simplified with "LINQ" expressions
dotnet_diagnostic.S3267.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S1871: Two branches in a conditional structure should not have exactly the same implementation
dotnet_diagnostic.S1871.severity = none
