[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# Custom config
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space

# S1104: Fields should not have public accessibility
dotnet_diagnostic.S1104.severity = none

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = warning
